{% extends 'crud.html.twig' %}

{% block title %}Modifier la Saison{% endblock %}

{% block body %}
    <h4>Modifier la Saison</h4>

    {{ include('season/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="w-100 h-100 btn bg-primary text-subtitle my-2 p-3" href="{{ path('app_season_index') }}">Retour</a>

    {{ include('season/_delete_form.html.twig') }}

{% endblock %}
